<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../CSS/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-coloumn">
        <div class="footer-logo">
          <h2>Health</h2>
          <i class="fa-solid fa-plus footerPlus"></i>
        </div>
        <div class="footer-description">
          <p>Talk to online doctor and get medical advice, online prescription, refills and medical notes within
            minutes. On demand healthcare services at your fingertips.</p>
        </div>
      </div>
      <div class="footer-coloumn">
        <div class="footer-heading">
          <h3>Legal</h3>
        </div>
        <div class="footer-links">
          <ul>
            <li>General Info</li>
            <li>Privacy Policy</li>
            <li>Terms of Services</li>
            <li>Consultations</li>
            <li>How it Works</li>
          </ul>
        </div>
      </div>
      <div class="footer-coloumn">
        <div class="footer-heading">
          <h3>Talk To Us</h3>
        </div>
        <div class="footer-contact">
          <ul>
            <li>support@healthplus.com</li>
            <li>appointment@healthplus.com</li>
            <li>+022 5454 5658</li>
            <li>+022 4546 7877</li>
          </ul>
        </div>
      </div>
      <div class="footer-coloumn">
        <div class="footer-heading">
          <h3>Services</h3>
        </div>
        <div class="footer-links">
          <ul>
            <li>Emergency Care</li>
            <li>Heart Disease</li>
            <li>Dental Care</li>
            <li>Prescription</li>
            <li>Insights for doctors</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="newsletter">
      <div class="newsletter-heading">
        <h3>Stay Updated to Our Newsletter</h3>
      </div>

      <div class="newsletter-form">
        <input type="email" class="newsletter-input" placeholder="Enter your email address">
        <button class="newsletter-btn">Subscribe</button>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-copyrighter">
        <p>&copy; 2013-2023 Health+. All rights reserved.</p>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </footer>

</body>

</html>