<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="../CSS/home.css">
</head>

<body>
  <nav class="nav">
    <div class="left-nav">
      <p>Toll Free: +1505 672 5168</p>
      <button>Bookmark</button>
      <button>Track Order</button>
    </div>

    <a href="https://wa.me/15056725168" class="whatsapp-btn" target="_blank" rel="noopener noreferrer">
      <div class="whatsapp-icon-bg">
        <svg viewBox="0 0 32 32" class="whatsapp-icon">
          <path
            d="M16 2a13 13 0 0 0-11.26 19.5L3 29l7.7-2a13 13 0 1 0 5.3-25zm0 23.8a10.8 10.8 0 0 1-5.5-1.5l-.4-.2-4.1 1.1 1.1-4-.3-.4a10.8 10.8 0 1 1 9.2 5zm5.9-8.1c-.3-.2-1.9-1-2.2-1.1s-.5-.2-.7.2-.8 1-.9 1.2-.3.2-.6.1a8 8 0 0 1-2.4-1.5 8.9 8.9 0 0 1-1.7-2.1c-.2-.3 0-.5.1-.6l.5-.6c.1-.2.2-.3.3-.5a.4.4 0 0 0 0-.4c-.1-.2-.7-1.7-.9-2.3s-.5-.5-.7-.5h-.6a1.2 1.2 0 0 0-.9.4 3.7 3.7 0 0 0-1.1 2.8 6.4 6.4 0 0 0 1.3 3.4 14.8 14.8 0 0 0 5.7 5.1c2.4 1 2.9.8 3.5.8a3 3 0 0 0 2-1.4 2.5 2.5 0 0 0 .2-1.4c-.2-.1-.5-.2-.8-.3z" />
        </svg>
      </div>
      <span class="whatsapp-text">+15056725168 (Click to chat)</span>
    </a>
  </nav>

  <section class="navbar2">
    <div class="navbar22">
      <div class="logo">
        <img src="../images/Alldayawake.jpg" alt="allDayAwake">
      </div>
      <div class="search-medicine-details">
        <div class="input_search_basket">
          <div class="search-input">
            <input type="text" placeholder="Search for products.." autocomplete="off" id="search-input-items">
            <i class="fa-solid fa-magnifying-glass"></i>
             <div id="search-results"></div>
          </div>
          <div class="signup">
            <a>Signin / Signup</a>
            <i class="fa-solid fa-user user-icon loginUser"></i>
            <a href="../HTML/cart.html" style="color: black;"><i class="fa-solid fa-bag-shopping signup-icon"></i></a> <span id="grand-total">$0.00</span>
            <div class="drawer-icon" id="menu-btn">
              <i class="fa-solid fa-bars menu-icon drawer"></i>
            </div>
            <div class="drawer1" id="drawer1">
              <span class="close-btn" id="closeBtn">&times;</span>
              <ul>
                <li><a href="../HTML/smartPills.html">Smart Pills</a></li>
                <li><a href="../HTML/pain.html">Pain</a></li>
                <li><a href="">Zopiclone</a></li>
                <li><a href="">Men's Health</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="../HTML/alldayAwake.html">AllDayawake Offer</a></li>
              </ul>
            </div>

            <div class="overlay" id="overlay"></div>
          </div>
        </div>

        <div class="navbar2-bottom">
          <div class="all-categories drop">
            <p>All categories +</p>
            <div class="dropdown-medicine">
              <div class="dropdownList">
                <ul>
                  <li><a href="">Anaethesia -Local</a></li>
                  <li><a href="">Blood Sugar</a></li>
                  <li><a href="">Chronic Myeloid Leukemia</a></li>
                  <li><a href="">Chronic obstructive pulmonary</a></li>
                  <li><a href="">disorder (COPD)</a></li>
                </ul>
              </div>
              <div class="dropdownList">
                <ul>
                  <li><a href="">Dopamine Supplements</a></li>
                  <li><a href="">Duloxetine</a></li>
                  <li><a href="">Erectile Dysfunction</a></li>
                  <li><a href="">Escitalopram</a></li>
                  <li><a href="">Eszopiclone</a></li>
                </ul>
              </div>
              <div class="dropdownList">
                <ul>
                  <li><a href="">Kidney/Liver</a></li>
                  <li><a href="">Kidney Care</a></li>
                  <li><a href="">Liver Care</a></li>
                  <li><a href="">Life Saving Drugs</a></li>
                  <li><a href="">Anti Cancer</a></li>
                </ul>
              </div>
              <div class="dropdownList">
                <ul>
                  <li><a href="">Pregabalin</a></li>
                  <li><a href="">Premature Ejaculation</a></li>
                  <li><a href="">Prevention of Rabies</a></li>
                  <li><a href="">Prostate Care</a></li>
                  <li><a href="">Benign Prostatic Hyperplasia</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="medicine-details">
            <ul>
              <li class="dropdown"><a href="../HTML/smartPills.html"><p>Smart Pills +</p></a>
                <ul class="dropdown-menu">
                  <li><a href="../HTML/Modafinil.html">Modafinil</a></li>
                  <li><a href="../HTML/armodafinil.html">Armodafinil</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="../HTML/pain.html"><p>Pain +</p></a>
                <ul class="dropdown-menu pain-dropdown">
                  <li><a href="../HTML/../HTML/ProductDetails.html?id=Aspadol-100-mg-(Tapentadol)">Aspadol 100mg (Tapentadol)</a></li>
                  <li><a href="../HTML/painoSoma.html">Pain O Soma</a></li>
                  <li><a href="../HTML/gabapentin.html">Gabapentin</a></li>
                </ul>
              </li>
              <li class="dropdown"><p>Zopiclone +</p>
                <ul class="dropdown-menu pain-dropdown">
                  <li><a href="../HTML/ProductDetails.html?id=Nappie-7.5">Zopiclone (Nappie)</a></li>
                  <li><a href="../HTML/ProductDetails.html?id=Nappie-7.5">Zopiclone 7.5 MG uk</a></li>
                  <li><a href="../HTML/ProductDetails.html?id=Zopisign-7.5">Zopiclone 10 MG</a></li>
                  <li><a href="../HTML/ProductDetails.html?id=Nappie-7.5">Blue Zopiclone</a></li>
                  <li><a href="../HTML/ProductDetails.html?id=Zopiclone-10">Zimovane 10 MG (Generic)</a></li>
                  <li><a href="../HTML/ProductDetails.html?id=Zopimax-7.5">Zopimax 7.5 mg</a></li>
                </ul>
              </li>
              <li class="dropdown"> <p>men's Health</p>
                <ul class="dropdown-menu pain-dropdown">
                  <li><a href="../HTML/ErectileDysfunction.html">Erectile Dysfunction</a></li>
                </ul>
              </li>
              <li><a href="">Blog </a></li>
              <li><a href="../HTML/alldayAwake.html">Alldayawake Offer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script src="../JAVASCRIPT/products.js"></script>
  <script src="../JAVASCRIPT/NavBar&Footer.js"></script>
  <script src="../JAVASCRIPT/cart.js"></script>

</body>

</html>